.fo-munozi {
	float: right;
}

#hakotati {
	
}

#hako1 {
	color: black;
	font-size:100px;
}

#hako3 {
	font-size:100px;
}

#hako4 {
	font-size:100px;
}

#hako5 {
	font-size:100px;
}

#hako2 {
	width: 100px;
	height: 100px;
}

#hako2 {
	font-size:100px;
}
